.popular-play {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.popular-play .btn_player {
  display: flex;
  height: fit-content;
  border-radius: 10px;
}
.popular-play .btn_player .play {
  border: none;
  cursor: pointer;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  width: 40px;
  height: 40px;
  min-width: 40px;
  background-color: #f3f3f3;
  border-radius: 50%;
  background-image: url("/assets/img/btn_play/play.svg");
  margin: 5px 10px;
}
.popular-play .btn_player .play:hover {
  background-color: #d7eaff;
}
.popular-play .btn_player.playing .play {
  background-image: url("/assets/img/btn_play/pause.svg");
}
.popular-play .wrap_song .wrap_author {
  font-weight: bold;
}
.popular-play .wrap_right {
  display: flex;
  margin-left: 20px;
  width: 20%;
}
.popular-play .wrap_right .download {
  display: flex;
  justify-content: center;
  align-items: center;
}
.popular-play .wrap_right .download_song {
  display: flex;
  width: 26px;
  height: 26px;
  border-radius: 5px;
  background-color: #f7f5ff;
  align-items: center;
}
.popular-play .wrap_right .download_song:hover {
  background-color: #d7eaff;
}
.popular-play .wrap_right .download_song i {
  display: flex;
  width: 100%;
  height: 100%;
  background-image: url("/assets/img/download.svg");
  background-repeat: no-repeat;
  background-position: center;
}
