.b_player_progress {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.b_player_progress .disabled {
  pointer-events: none;
  opacity: 0.5;
}
@media (max-width: 767px) {
  .b_player_progress {
    width: 100%;
    order: 6;
  }
}
@media (max-width: 767px) {
  .b_player_progress .b_slider {
    width: 100%;
    margin: 0 10px;
  }
}
.b_player_progress .time_current,
.b_player_progress .time_duration {
  width: 50px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: default;
  user-select: none;
}
