/* Error: Undefined mixin.
 *   ,
 * 4 | /   @include for_phone {
 * 5 | |     order: 3;
 * 6 | \   }
 *   '
 *   player_controls.scss 4:3  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a   \2577 \a 4 \2502  \250c    @include for_phone {\a 5 \2502  \2502      order: 3;\a 6 \2502  \2514    }\a   \2575 \a   player_controls.scss 4:3  root stylesheet";
}
