.b_slider {
  display: inline-block;
  box-sizing: border-box;
  width: 340px;
  padding: 4px 0;
  cursor: pointer;
}
.b_slider.ver {
  width: auto;
  min-width: auto;
  min-height: 50px;
  padding: 0 4px;
}
.b_slider.disabled {
  cursor: default;
  pointer-events: none;
  opacity: 0.5;
}
.b_slider .slider {
  width: 100%;
  height: 8px;
  background-color: #EEEEEE;
  border-radius: 4px;
  border-left: 8px solid #89BFFF;
  border-right: 8px solid #EEEEEE;
  box-sizing: border-box;
}
.b_slider.ver .slider {
  width: 8px;
  height: 100%;
  border-left: none;
  border-right: none;
  border-top: 8px solid #89BFFF;
  border-bottom: 8px solid #EEEEEE;
}
.b_slider .value {
  position: relative;
  width: 0;
  height: 100%;
  background-color: #89BFFF;
}
.b_slider.ver .value {
  width: 100%;
  height: 0;
}
.b_slider .thumb {
  position: absolute;
  right: -8px;
  top: -4px;
  width: 16px;
  height: 16px;
  box-sizing: border-box;
  background-color: #187FF8;
  border: 0 solid #187FF8;
  border-radius: 50%;
}
.b_slider.ver .thumb {
  top: auto;
  right: -4px;
  bottom: -8px;
}

.b_player_progress {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.b_player_progress .disabled {
  pointer-events: none;
  opacity: 0.5;
}
@media (max-width: 767px) {
  .b_player_progress {
    width: 100%;
    order: 6;
  }
}
@media (max-width: 767px) {
  .b_player_progress .b_slider {
    width: 100%;
    margin: 0 10px;
  }
}
.b_player_progress .time_current,
.b_player_progress .time_duration {
  width: 50px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: default;
  user-select: none;
}

.b_player_controls {
  width: 130px;
}
@media (max-width: 767px) {
  .b_player_controls {
    order: 3;
  }
}
.b_player_controls .play {
  background-color: #f3f3f3 !important;
  border-radius: 50%;
  background-image: url("/assets/img/btn_play/play.svg");
}
.b_player_controls .play:hover {
  background-color: #d7eaff !important;
}
.b_player_controls .play:disabled:hover {
  background-color: white;
}
.b_player_controls .next {
  background-image: url("/assets/img/btn_play/next.svg");
}
.b_player_controls .next:hover {
  opacity: 0.7;
}
.b_player_controls .prev {
  background-image: url("/assets/img/btn_play/previous.svg");
}
.b_player_controls .prev:hover {
  opacity: 0.7;
}
.b_player_controls button:disabled {
  opacity: 0.5;
  cursor: default;
}
.b_player_controls button:disabled:hover {
  opacity: 0.5;
}

@media (max-width: 767px) {
  .b_player_volume {
    display: none;
  }
}
.b_player_volume .b_slider {
  width: 94px;
}
.b_player_volume .b_slider .slider {
  height: 4px;
}
.b_player_volume .b_slider .thumb {
  position: absolute;
  right: -6px;
  top: -4px;
  width: 12px;
  height: 12px;
}
.b_player_volume .disabled {
  pointer-events: none;
  opacity: 0.5;
}
.b_player_volume .volume_mute {
  background-image: url("/assets/img/volume.svg");
}
.b_player_volume.mute .volume_mute {
  background-image: url("/assets/img/volume_mute.svg");
}

@media (max-width: 767px) {
  .b_player_playlist {
    order: 1;
  }
}
.b_player_playlist.active .popup {
  height: calc(-156px + 100vh);
}
.b_player_playlist.active .playlist_btn {
  opacity: 1;
}
.b_player_playlist.active .playlist_btn:hover {
  opacity: 0.7;
}
.b_player_playlist .order {
  display: flex;
}
@media (max-width: 767px) {
  .b_player_playlist .order {
    display: none;
  }
}
.b_player_playlist .order .shuffle {
  background-image: url("/assets/img/shuffle.svg");
  opacity: 0.3;
}
.b_player_playlist .order .shuffle:hover {
  opacity: 0.7;
}
.b_player_playlist .order .repeat_playlist {
  background-image: url("/assets/img/repeat.svg");
  opacity: 0.3;
}
.b_player_playlist .order .repeat_playlist:hover {
  opacity: 0.7;
}
.b_player_playlist .playlist_btn {
  background-image: url("/assets/img/playlist.svg");
  opacity: 0.3;
}
.b_player_playlist .playlist_btn:hover {
  opacity: 1;
}
.b_player_playlist .popup {
  position: absolute;
  transform: translate(30%, -100%);
  width: 900px;
  height: 0;
  background-color: #fff;
  border: 1px solid #e3e3e3;
  opacity: 1;
  z-index: -1;
  top: 15px;
  padding-bottom: 15px;
  transition-duration: 0.35s;
  transition-property: height;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.b_player_playlist .popup .inner_popup {
  width: 100%;
  height: 100%;
}
.b_player_playlist .popup .inner_popup .playlist {
  padding: 10px 30px;
  margin: 0;
}
.b_player_playlist .popup .inner_popup .header {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 30px 0 30px;
}
.b_player_playlist .popup .inner_popup .header .name_chart {
  font-weight: 700;
  font-size: 20px;
}
.b_player_playlist .popup .inner_popup .header .close {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  background-image: url("/assets/img/exit.svg");
  background-repeat: no-repeat;
  opacity: 0.7;
}
.b_player_playlist .popup .inner_popup .header .close:hover {
  opacity: 1;
}
.b_player_playlist .popup .inner_popup .wrap_author {
  font-weight: 700;
}
.b_player_playlist .popup .inner_popup .btns_player_list {
  padding: 10px;
}
.b_player_playlist .item:first-child {
  border-top: 1px solid #e3e3e3;
}
.b_player_playlist .item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e3e3e3;
  padding: 10px 0;
}
.b_player_playlist .item .wrap_download {
  display: flex;
  width: 20%;
  justify-content: end;
}
.b_player_playlist .item .wrap_download .download_song {
  display: flex;
  width: 26px;
  height: 26px;
  border-radius: 5px;
  background-color: #f7f5ff;
  align-items: center;
}
.b_player_playlist .item .wrap_download .download_song:hover {
  background-color: #d7eaff;
}
.b_player_playlist .item .wrap_download .download_song i {
  display: flex;
  width: 100%;
  height: 100%;
  background-image: url("/assets/img/download.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.b_player_playlist .count_clicks {
  display: flex;
  width: 80px;
  align-items: center;
  margin-right: 10px;
  color: #746a74;
}
.b_player_playlist .count_clicks i {
  display: flex;
  margin-right: 5px;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-image: url("/assets/img/statistics.svg");
}

.b_player {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  position: fixed;
  width: auto;
  height: 70px;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
@media (max-width: 767px) {
  .b_player {
    height: 90px;
  }
}
.b_player .audio {
  position: fixed;
  bottom: 75px;
  left: 10px;
}
.b_player .inner_player {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 0 2vw;
  height: 100%;
  background-color: #fff;
  border-top: 1px solid rgb(237, 237, 237);
  box-shadow: 0 0 7px rgb(195, 195, 195);
}
@media (max-width: 767px) {
  .b_player .inner_player {
    flex-wrap: wrap;
    align-items: normal;
    padding: 5px 10px 0 10px;
  }
}
.b_player .inner_player > div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.b_player .inner_player button {
  border: none;
  cursor: pointer;
  background-repeat: no-repeat;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
}
.b_player .inner_player a {
  text-decoration: none;
  cursor: pointer;
  color: black;
}
.b_player .inner_player .elem {
  width: 40px;
  height: 40px;
  min-width: 40px;
}
.b_player .inner_player .b_player_info {
  width: 230px;
  height: 100%;
  display: flex;
}
@media (max-width: 767px) {
  .b_player .inner_player .b_player_info {
    display: none;
  }
}
.b_player .inner_player .b_player_info .artist_img {
  border-radius: 50%;
  background-color: #f7f5ff;
  margin-right: 10px;
  opacity: 0.3;
  background-image: url("/assets/img/note.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.b_player .inner_player .b_player_info .names {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.b_player .inner_player .b_player_info .names .wrap_author, .b_player .inner_player .b_player_info .names .wrap_song {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100%;
  height: 100%;
  max-height: 35px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.b_player .inner_player .b_player_info .names .wrap_author {
  font-weight: bold;
}
.b_player .inner_player .b_player_info .names .wrap_author a {
  margin-right: 5px;
}
.b_player .inner_player .b_player_info .download {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 767px) {
  .b_player .inner_player .b_player_info .download {
    order: 5;
  }
}
.b_player .inner_player .b_player_info .download .download_song {
  display: flex;
  width: 26px;
  height: 26px;
  border-radius: 5px;
  background-color: #f7f5ff;
}
.b_player .inner_player .b_player_info .download .download_song:hover {
  background-color: #d7eaff;
}
.b_player .inner_player .b_player_info .download .download_song i {
  display: flex;
  width: 100%;
  height: 100%;
  background-image: url("/assets/img/download.svg");
  background-repeat: no-repeat;
  background-position: center;
}
.b_player.playing {
  transition-duration: 2s;
  transition-property: height;
}
.b_player.playing .inner_player .b_player_controls .play {
  background-color: #d7eaff !important;
  background-image: url("/assets/img/btn_play/pause.svg");
}
