.b_player_hq {
  width: 40px;
  height: 40px;
  display: flex;
}
@media (max-width: 767px) {
  .b_player_hq {
    display: none;
  }
}
.b_player_hq.disabled .hq {
  opacity: 0.3;
  pointer-events: none;
}
.b_player_hq.active .hq {
  opacity: 0.7;
}
.b_player_hq .hq {
  background-image: url("/img/hq.svg");
  opacity: 0.3;
}
.b_player_hq .hq:hover {
  cursor: pointer;
  opacity: 0.7;
}
.b_player_hq .b_popup {
  display: none;
}
