@import "mixin";
@import "var";

@import "slider";
@import "player_progress";
@import "player_controls";
@import "player_volume";
@import "player_playlist";
@import "player_info";
@import "player_hq";
@import "player_eq";

// fixme исправить все цвета в соответствии с шаблоном в figma, для проверки цвета можно использовать Just Color Picker
.b_player {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  position: fixed;
  width: auto;
  height: 70px;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  font-size: 14px;
  font-weight: 400;
  border-top: 1px solid rgb(237, 237, 237);
  box-shadow: 0 0 7px rgb(195, 195, 195);

  @include for_phone {
    height: 98px;
  }

  .audio {
    display: none;
    position: fixed;
    bottom: 75px;
    left: 10px;
  }

  .icon-vol2 {

    width: 3px;
    height: 11px;
    background-color: #e0e0e0;
    display: inline-block;
    position: relative;
    margin-right: 11px;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;

    &:before {
      content: '';
      width: 3px;
      height: 6px;
      background-color: #e0e0e0;
      display: inline-block;
      left: -4px;
      top: 5px;
      position: absolute;
      color: #e0e0e0;
      box-sizing: border-box;
    }


    &:after {
      content: '';
      width: 3px;
      height: 7.5px;
      background-color: #e0e0e0;
      display: inline-block;
      right: -4px;
      top: 3.5px;
      position: absolute;
      box-sizing: border-box;
    }
  }

  .inner_player {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 0 24px;
    height: 100%;
    background-color: #fff;


    @include for_phone {
      flex-wrap: wrap;
      align-items: normal;
      padding: 15px 12px !important;
      height: unset;
    }

    @include for_laptopL {
      padding: 0 12px;
    }

    > div {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    button {
      border: none;
      cursor: pointer;
      background-repeat: no-repeat;
      background-color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      background-position: center;
    }

    a {
      text-decoration: none;
      cursor: pointer;
      color: black;
    }

    .elem {
      width: 40px;
      height: 40px;
      min-width: 40px;
    }

    .inner_controls {
      width: 288px;
      height: 40px;

      @include for_phone {
        width: 100%;
        justify-content: space-between !important;
      }

      .stub {
        display: none;
        @include for_phone {
          display: flex;
          order: 3;
          width: 40px;
          height: 40px;
        }
      }
    }

    .inner_setting {
      margin-left: 16px;

      @include for_phone {
        display: none;
      }
    }
  }

  .alert {
    display: none;
    justify-content: center;
    flex-direction: column;
    align-items: start;
    box-sizing: content-box;
    bottom: 79px;
    right: 50px;
    padding: 16px;
    max-width: 240px;
    color: #666666;
    cursor: default;
    // fixme alert должен быть поверх всех других элементов а ты его наоборот спрятала тут должно быть что то вроде 999
    z-index: -5;

    &.show {
      display: flex!important;
    }

    h3 {
      width: 100%;
      display: flex;
      justify-content: start;
      margin: 0 0 10px;
    }

    span {
      display: flex;
      justify-content: start;
      cursor: default;
    }
  }

  .b_popup {
    display: none;
    position: absolute;
    border: 1px solid #CCCCCC;
    box-shadow: 0 0 4px #CCCCCC;
    background-color: white;
    border-radius: 8px;
  }
}

