@import "mixin";
@import "var";

.b_player_controls {
  width: 120px;
  height: 100%;
  display: flex;
  margin-right: 16px;

  @include for_phone {
    order: 2;
    margin-right: 0;
  }

  .play {
    background-color: #f3f3f3 !important;
    border-radius: 50%;

    background-image: url("/img/controls/play.svg");

    .b_player.playing & {
      background-color: #d7eaff !important;
      background-image: url("/img/controls/pause.svg") ;
    }

    &:hover {
      background-color: #d7eaff !important;
    }

    &:disabled {
      pointer-events: none;

      &:hover {
        background-color:  #f3f3f3 !important;
      }
    }
  }

  .next {
    // fixme имя папка не соответствует реальности скорее это папка controls ok
    // fixme проведи ревизию файлов в папке img кажется там уже небольшой бардак образовался, проверь что все файлы используются и все файлы имеют подходящие имена ok
    // fixme вынеси папку img из папки asserts на уровень выше ok
    background-image: url("/img/controls/next.svg");

    &:hover {
      cursor: pointer;
      //opacity: $opacity-grey-middle;
    }
  }

  .prev {
    background-image: url("/img/controls/previous.svg");

    &:hover {
      //opacity: $opacity-grey-middle;
      cursor: pointer;
    }
  }

  button:disabled {
    opacity: 0.25;
    pointer-events: none;

    &:hover {
      opacity: 0.5;
    }
  }
}