@import "mixin";
@import "var";

.b_player_controls {
  width: 120px;
  height: 100%;
  display: flex;
  margin-right: 16px;

  @include for_phone {
    order: 2;
    margin-right: 0;
  }

  .play {
    background-color: #f3f3f3 !important;
    border-radius: 50%;

    background-image: url($play-svg);

    .b_player.playing & {
      background-color: #d7eaff !important;
      background-image: url($pause-svg) ;
    }

    &:hover {
      background-color: #d7eaff !important;
    }

    &:disabled {
      pointer-events: none;

      &:hover {
        background-color:  #f3f3f3 !important;
      }
    }
  }

  .next {
    background-image: url($next-svg);

    &:hover {
      cursor: pointer;
    }
  }

  .prev {
    background-image: url($previous-svg);

    &:hover {
      cursor: pointer;
    }
  }

  button:disabled {
    opacity: 0.25;
    pointer-events: none;

    &:hover {
      opacity: 0.5;
    }
  }
}