@import "mixin";
@import "var";

.b_player_playlist {
  display: flex;


  @include for_phone {
    order: 1;

    &.open {
      .b_popup {
        //display: flex;
      }
    }
  };

  &.disabled {
    .playlist_btn, .shuffle, .repeat_playlist {
      pointer-events: none;
      opacity: $opacity-grey-min !important;
    }
  }

  &.open {
    .b_popup {
      height: 100vh;
      max-height: 785px;

    }

    .playlist_btn {
      opacity: $opacity-grey-max;
    }
  }

  .order
  {
    display: flex;

    @include for_phone {
      display: none;
    }

    .shuffle {
      background-image: url($shuffle-svg);
      opacity: $opacity-grey-max;
    }

    .repeat_playlist {
      background-image: url($repeat-svg);
      opacity: $opacity-grey-middle;

      &:hover {
        opacity: $opacity-grey-max;
      }

      &.active{
        opacity: $opacity-grey-max;

        &:hover {
          opacity: unset;
        }
      }
    }
  }

  .playlist_btn {
    background-image: url($playlist-svg);
    opacity: $opacity-grey-min;
    margin-left: 16px;

    &:hover {
      opacity: $opacity-grey-max;
    }

    @include for_phone {
      margin-left: 0;
    }
  }

  .b_popup {
    display: flex!important;
    position: absolute;
    transform: translate(30%, -100%);
    width: 800px;
    height: 0;
    background-color: #fff;
    border: 1px solid #e3e3e3;
    opacity: 1;
    z-index: -5;
    top: 16px;
    right: calc((100vw - 69px) / 2);
    padding-bottom: 15px;
    transition-duration: .35s;
    transition-property: height;
    border-radius: 0!important;

    @include for_laptopS {
      transform: translate(-3%, -76%);
      width:calc(100% + 15px);
      left: 16px;
    }

    @include for_phone {
      transform: translate(-3%, -76%);
      width:calc(100% + 15px);
      left: 12px;
    }

    .inner_popup {
      width: 100%;
      height: 100%;

      .playlist {
        overflow-y: scroll;
        max-height: 685px;
        padding: 10px 30px;
        margin: 0;

        .item{

          .song_title {
            a:hover {
              color: #187FF8;
            }
          }
        }
      }

      .header {
        height: 75px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 30px 0 30px;

        .name_chart {
          .music_title {
            cursor: default;
            font-size: 20px;
            font-weight: 650;
          }

          .music_title::before {
            content: "Сейчас играет:";
            cursor: default;
          }
        }

        .close {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 20px;
          height: 20px;
          background-size: 30px;
          color: black;
          background-image: url($close_playlist-svg);
          background-repeat: no-repeat;
        }
      }

      .wrap_author {
        font-weight: 700;
      }

      .btns_player_list {
        padding: 10px;

      }
    }
  }

  .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e3e3e3;
    padding: 10px 0;

    .popular-play {
      margin: 0;
    }

    &:first-of-type {
      border-top: 1px solid #e3e3e3;
    }

    .wrap_right {
      display: flex;
      width: 20%;
      justify-content: end;

      .download {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .download_song {
        display: flex;
        width: 26px;
        height: 26px;
        border-radius: 5px;
        background-color: #f7f5ff;
        align-items: center;

        &:hover {
          background-color: #d7eaff;
        }

        i {
          display: flex;
          width: 100%;
          height: 100%;
          border-radius: 5px;
          background-image: url($download-svg);
          background-repeat: no-repeat;
          background-position: center;
        }
      }
    }
  }

  .song_time {
    display: flex;
    width: 80px;
    align-items: center;
    margin-right: 10px;
    color: #746a74;

    i {
      display: flex;
      margin-right: 5px;
      width: 20px;
      height: 20px;
      background-repeat: no-repeat;
      background-image: url($statistics-svg);
    }
  }
}
