@import "var";

.b_player_info
{
  max-width: 416px;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  margin-left: 16px;

  &.disabled {
    .artist_img {
      opacity: $opacity-grey-min;

    }

    .favorite, .dots {
      opacity: $opacity-grey-min!important;
    }

    .download {
      opacity: $opacity-grey-min;

      .download_song {
        pointer-events: none;

        &:hover {
          background-color: #f7f5ff!important;
        }
      }
    }
  }

  @include for_phone {
    width: fit-content;
    height: 0;
    margin-left: 0;
    display: none;

    .artist_img, .names{
      display: none!important;
    }

  }

  @include for_laptopS {
    margin-left: 16px;
  }

  .artist_img {
    display: flex;
    border-radius: 10px;
    background-color: #f0f1f4;
    margin-right: 10px;
    opacity: $opacity-grey-max;

    @include for_laptopS {
      display: none;
    }

    img {
      display: flex;
      border-radius: 10px;
    }
  }

  .names {
    display: flex;
    flex-direction: column;
    width: 100%;

    .wrap_author, .wrap_song {
      display: flex;
      align-items: center;
      justify-content: start;
      width: 100%;
      height: 100%;
      max-height: 35px;
      display: -webkit-box;
      -webkit-line-clamp: 1; // количество строк
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    .wrap_author {
      font-weight: 600;

      a {
        margin-right: 5px;
      }
    }
  }


  .inner_download {
    display: flex;
    margin-left: 16px;

    @include for_laptopL {
      margin-left: 0;
    }
    .inner_favorite {
      @include for_phone {
        position: absolute;
        right: 66px;
        top: 15px;
        order: 2;
      }

      .favorite {
        background-image: url("/img/favorite.svg");
        opacity: $opacity-grey-middle;

        &:hover {
          cursor: pointer;
          opacity: $opacity-grey-max;

        }
      }
      .b_popup {
        display: flex;
        visibility: hidden;
        align-items: start;
        height: 48px;
        width: 216px;
        box-sizing: border-box;
        position: absolute;
        top: -65px;
        right: 45px;
        padding: 14px 16px 16px 16px;
        border-radius: 8px;
        border: 1px solid rgb(237, 237, 237);
        background-color: white;
        z-index: 10;

        .text {
          height: 16px;

          a {
            color: #187FF8;
          }
        }
      }

      &.is_favorite {
        .favorite {
          opacity: $opacity-grey-max;
        }
        .b_popup {
          opacity: 1;
          visibility: visible;
          transition: opacity 0.5s ease-out; /* Плавное исчезновение за 0.5 секунды */
          animation: fadeOut 5s forwards; /* Анимация исчезновения */
        }

        @keyframes fadeOut {
          from {
            opacity: 1;
          }
          to {
            opacity: 0;
            visibility: hidden;
          }
        }
      }

    }

    .inner_dots {
      display: none;

      @include for_phone {
        display: flex;
        position: absolute;
        left: 60px;
        top: 15px;
        order: 1;
      }

      .dots {
        padding: 0;
        background-image: url("/img/dots.svg");
        opacity: $opacity-grey-middle;

        &:hover {
          cursor: pointer;
          opacity: $opacity-grey-max;

        }
      }

      .b_popup {
        display: none;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        height: fit-content;
        width: 222px;
        box-sizing: border-box;
        position: absolute;
        top: -131px;
        right: 45px;
        padding: 16px;
        border-radius: 8px;
        border: 1px solid rgb(237, 237, 237);
        background-color: white;

        @include for_phone {
          bottom: 64px;
          left: -50px;
          top: unset;
          right: unset;

          .hq, .eq {
            width: 100%;
            height: 24px;
            display: flex;

            i {
              min-width: 35px;
              opacity: $opacity-grey-min;
            }

            &.show {
              i {
                opacity: $opacity-grey-middle;
              }
            }
          }

          div:not(:last-child) {
            margin-bottom: 10px;
          }

          .hq {
            i {
              background-image: url("/img/hq.svg");
            }
          }

          .eq {
            i {
              background-image: url("/img/eq.svg");
            }
          }
        }

        .hq .eq {
          display: none;
        }
        div {
          display: flex;
        }

        i{
          display: flex;
          width: 24px;
          height: 24px;
          background-repeat: no-repeat;
          background-position: center;
          margin-right: 10px;
        }

        .copy{
          i{
            background-image: url("/img/dots/copy.svg");
          }
        }
        .comment{
          i{
            background-image: url("/img/dots/comment.svg");
          }
        }
        .link{
          i{
            background-image: url("/img/dots/link.svg");
          }
        }
      }

      &.open {
        .b_popup {
          display: flex;
        }
      }
    }
  }

  .download {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 16px;

    @include for_phone {
      position: absolute;
      right: 15px;
      top: 15px;
      order: 3;
      margin: 0;
    }
    @include for_laptopL {
      margin: 0 8px;
    }

    .download_song {
      display: flex;
      width: 100%;
      height: 100%;
      border-radius: 10px;
      background-color: #f7f5ff;

      &:hover {
        background-color: #d7eaff;
      }

      i {
        display: flex;
        width: 100%;
        height: 100%;
        background-image: url("/img/download.svg");
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }
}
