
@mixin for_phone {
  @media (max-width: 767px) {
    @content;
  }
}

// использовать так
@include for_phone {
  .b_player {
    height: 90px;

    .inner_player {
      flex-wrap: wrap;
      align-items: normal;
      padding: 5px 10px 0 10px;

      .b_player_controls {
        order: 3;
      }
      .b_player_playlist_order {
        display: none;
      }

      .b_player_playlist {
        order: 1;
      }

      .b_player_download {
        order: 5;
      }

      .b_player_progress {
        width: 100%;
        order: 6;

        .b_slider {
          width: 100%;
          margin: 0 10px;
        }
      }

      .b_player_info {
        display: none;
      }

      .b_player_like {
        order: 4;
      }

      .b_player_hq {
        display: none;
      }

      .b_player_options {
        order: 2;
      }

      .b_player_volume {
        display: none;
      }

    }
  }
}