.progress {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

    .time_current, .time_duration {
      width: 50px;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
}

// fixme вынести в отдельный класс b_slider, не создавать копий, модифицировать с помощью классов модификаторов
.b_slider {
  display: inline-block;
  box-sizing: content-box;
  width: 300px;
  height: 8px;
  padding: 5px 0;
  background-color: #f0f0f0;
  background-clip: content-box;
  cursor: pointer;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;

  // пример класса модификатора
  &.mini {
    // здесь можно модифицировать некоторые свойства value
    .value {
      // а здесь before
      &:before {

      }
    }
  }

  .value {
    position: relative;
    width: 0;
    height: 100%;
    background-color: #93bfed;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;

    &:before {
      content: '';
      position: absolute;
      right: -1 * 14px / 2;
      top: -1 * (6px / 2);
      width: 14px;
      height: 14px;
      background-color: #1a81f6;
      border-radius: 50%;
      box-sizing: border-box;
    }
  }
}
