.popular-play {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  display: flex;
  align-items: center;
  margin-bottom: 10px;

  .btn_player {
    display: flex;
    height: fit-content;
    border-radius: 10px;

    .play {
      border: none;
      cursor: pointer;
      background-repeat: no-repeat;
      display: flex;
      justify-content: center;
      align-items: center;
      background-position: center;
      width: 40px;
      height: 40px;
      min-width: 40px;
      background-color: #f3f3f3;
      border-radius: 50%;
      background-image: url("/assets/img/btn_play/play.svg");
      margin: 5px 10px;

      &:hover {
        background-color: #d7eaff;
      }
    }
  }

  .popular-play-name {
    .popular-play-composition {
      font-weight: bold;
    }
  }
}
