@import "mixin";
@import "var";

// fixme нельзя создавать произвольные файлы в этой папке, здесь у нас лежат блоки состоящие из html scss и ts,
//  определи к какому блоку относятся эти стили и перенеси в соответсвующий блок
.inner_controls {
  width: 288px;
  height: 40px;

  @include for_phone {
    width: 100%;
    justify-content: space-between!important;
  }

  .stub {
    display: none;
    @include for_phone {
      display: flex;
      order: 3;
      width: 40px;
      height: 40px;
    }
  }
}