@import "mixin";
@import "var";

.b_player_hq {
  width: 40px;
  height: 40px;
  display: flex;

  @include for_phone {
    display: none;
  }

  &.disabled {
    .hq {
      opacity: $opacity-grey-min;
      pointer-events: none;
    }
  }

  // fixme у тебя уже есть элемент подобный посмотри какой класс ты там используешь и используй тут такой же
  &.is_active {
    .hq {
      opacity: $opacity-grey-middle;
    }
  }

  .hq {
    background-image: url("/assets/img/hq.svg");
    opacity: $opacity-grey-min;

    &:hover {
      cursor: pointer;
      opacity: $opacity-grey-middle;
    }
  }

  .popup {
    display: none;
  }
}