@import "mixin";
@import "var";

.b_player_progress
{
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 16px;
  width: 100%;
  max-width: 482px;

  .disabled {
    pointer-events: none;
    opacity: 0.5;
  }
  
  @include for_phone {
    width: 100%;
    order: 4;
    margin: 0;
  }

  .b_slider {
    margin: 0 16px;
    max-width: 380px;
    min-width: 340px;

    @include for_phone {
      min-width: unset;
      width: 100%;
      margin: 0 10px;
    }
  }

  .time_current,
  .time_duration {
    width: 35px;
    height: 16px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: default;
    user-select: none;
  }
}
