@import "var";

.b_player_info
{
  max-width: 416px;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;

  &.disabled {
    .artist_img {
      opacity: $opacity-grey-min;

    }

    .download {
      opacity: $opacity-grey-min;

      .download_song {
        pointer-events: none;

        &:hover {
          background-color: #f7f5ff!important;
        }
      }
    }
  }

  @include for_phone {
    width: fit-content;

    .artist_img, .names{
      display: none!important;
    }

  }

  .artist_img {
    border-radius: 10px;
    background-color: #f0f1f4;
    margin-right: 10px;
    opacity: $opacity-grey-max;
    background-image: url("/assets/img/note.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  .names {
    display: flex;
    flex-direction: column;
    width: 100%;

    .wrap_author, .wrap_song {
      display: flex;
      align-items: center;
      justify-content: start;
      width: 100%;
      height: 100%;
      max-height: 35px;
      display: -webkit-box;
      -webkit-line-clamp: 1; // количество строк
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    .wrap_author {
      font-weight: 600;

      a {
        margin-right: 5px;
      }
    }
  }

  .download {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 16px;

    @include for_phone {
      position: absolute;
      right: 15px;
      order: 3;
      margin-left: 0;
    }

    .download_song {
      display: flex;
      width: 100%;
      height: 100%;
      border-radius: 10px;
      background-color: #f7f5ff;

      &:hover {
        background-color: #d7eaff;
      }

      i {
        display: flex;
        width: 100%;
        height: 100%;
        background-image: url("/assets/img/download.svg");
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }
}
