@import "mixin";
@import "var";

// fixme переименовать, заменить слово setting на eq (общепринятое сокращение от equalizer) ok
.b_player_eq {
  width: 40px;
  height: 40px;
  display: flex;
  margin-left: 8px;

  @include for_phone {
    display: none;
  }

  &.disabled {
    .eq {
      opacity: $opacity-grey-min;
      pointer-events: none;
    }
  }

  .eq {
    background-image: url("/img/equalizer.svg");
    opacity: $opacity-grey-middle;

    &:hover {
      cursor: pointer;
      opacity: $opacity-grey-max;
    }
  }

  .popup {
    display: none;
  }
}