@import "mixin";

.b_player_playlist {
  @include for_phone {
    order: 1;
  };


  &.active {
    .popup {
      height: calc(-156px + 100vh);
    }

    .playlist_btn {
      opacity: $opacity-grey-max;

      &:hover {
        opacity: $opacity-grey-middle;
      }
    }
  }

  .order
  {
    display: flex;

    @include for_phone {
      display: none;
    }

    .shuffle {
      background-image: url("/assets/img/shuffle.svg");
      opacity: $opacity-grey-min;

      &:hover {
        opacity: $opacity-grey-middle;
      }
    }

    .repeat_playlist {
      background-image: url("/assets/img/repeat.svg");
      opacity: $opacity-grey-min;

      &:hover {
        opacity: $opacity-grey-middle;
      }
    }
  }

  .playlist_btn {
    background-image: url("/assets/img/playlist.svg");
    opacity: $opacity-grey-min;

    &:hover {
      opacity: $opacity-grey-max;
    }
  }

  .popup {
    position: absolute;
    transform: translate(30%, -100%);
    width: 900px;
    height: 0;
    background-color: #fff;
    border: 1px solid #e3e3e3;
    opacity: 1;
    z-index: -1;
    top: 15px;
    padding-bottom: 15px;
    transition-duration: .35s;
    transition-property: height;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    .inner_popup {
      width: 100%;
      height: 100%;

      .playlist {
        padding: 10px 30px;
        margin: 0;
      }

      .header {
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 30px 0 30px;

        .name_chart {
          font-weight: 700;
          font-size: 20px;
        }

        .close {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 20px;
          height: 20px;
          background-image: url("/assets/img/exit.svg");
          background-repeat: no-repeat;
          opacity: $opacity-grey-middle;

          &:hover {
            opacity: $opacity-grey-max;
          }
        }
      }

      .wrap_author {
        font-weight: 700;
      }

      .btns_player_list {
        padding: 10px;

      }
    }
  }

  //TODO не работает
  .item:first-child {
    border-top: 1px solid #e3e3e3;
  }

  .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e3e3e3;
    padding: 10px 0;

    .wrap_download {
      display: flex;
      width: 20%;
      justify-content: end;

      .download_song {
        display: flex;
        width: 26px;
        height: 26px;
        border-radius: 5px;
        background-color: #f7f5ff;
        align-items: center;

        &:hover {
          background-color: #d7eaff;
        }

        i {
          display: flex;
          width: 100%;
          height: 100%;
          background-image: url("/assets/img/download.svg");
          background-repeat: no-repeat;
          background-position: center;
        }
      }
    }
  }

  .count_clicks {
    display: flex;
    width: 80px;
    align-items: center;
    margin-right: 10px;
    color: #746a74;

    i {
      display: flex;
      margin-right: 5px;
      width: 20px;
      height: 20px;
      background-repeat: no-repeat;
      background-image: url("/assets/img/statistics.svg");
    }
  }
}
