.b_slider
{
  // value
  $background-color-value: #187FF8;
  $background-color-slider-finish: #89BFFF;

  // thumb
  $background-color-thumb: $background-color-value;
  $size-thumb: 16px;
  $border-width-thumb: 0;
  $border-color-thumb: #187FF8;

  // slider
  $background-color-slider: #EEEEEE;
  $height-slider: $size-thumb / 2;

  $padding-gor-slider: $size-thumb / 2 ;
  $padding-ver-slider: ($size-thumb - $height-slider) / 2;

  display: inline-block;
  box-sizing: border-box;
  width: 340px;
  padding: $padding-ver-slider 0;
  cursor: pointer;

  &.ver {
    width: auto;
    min-width: auto;
    min-height: 50px;
    padding: 0 $padding-ver-slider;
  }

  &.disabled {
    cursor: default;
    pointer-events: none;
    opacity: 0.5;
  }

  .slider {
    width: 100%;
    height: $height-slider;
    background-color: $background-color-slider;
    border-radius: $height-slider / 2;
    border-left: $padding-gor-slider solid $background-color-slider-finish;
    border-right: $padding-gor-slider solid $background-color-slider;
    box-sizing: border-box;
  }

  &.ver .slider {
    width: $height-slider;
    height: 100%;
    border-left: none;
    border-right: none;
    border-top: $padding-gor-slider solid $background-color-slider-finish;
    border-bottom: $padding-gor-slider solid $background-color-slider;
  }

  .value {
    position: relative;
    width: 0;
    height: 100%;
    background-color: $background-color-slider-finish;
  }

  &.ver .value {
    width: 100%;
    height: 0;
  }

  .thumb {
    position: absolute;
    right: -1 * $size-thumb / 2;
    top: -1 * ($size-thumb - $height-slider) / 2;
    width: $size-thumb;
    height: $size-thumb;
    box-sizing: border-box;
    background-color: $background-color-thumb;
    border: $border-width-thumb solid $border-color-thumb;
    border-radius: 50%;
  }

  &.ver .thumb {
    top: auto;
    right: -1 * ($size-thumb - $height-slider) / 2;;
    bottom: -1 * $size-thumb / 2;
  }
}