@import "mixin";

.b_slider
{
  $height: 8px;
  $size: 14px;
  $border: 2px;
  $border-radius: 3px;
  $padding-gor: $size / 2 - 1;
  $padding-ver: 5px;

  display: inline-block;
  box-sizing: border-box;
  width: 30vw;
  height: $height + ($padding-ver * 2);
  padding: $padding-ver $padding-gor;
  cursor: pointer;
  position: relative;
  background-color: white;

  .slider {
    $background-color: #f0f0f0;
    position: absolute;
    left: 0;
    width: 100%;
    height: $height;
    background-color: $background-color;
    border-radius: $border-radius;
  }

  .value {
    $background-color: #93bfed;

    position: relative;
    left: -1 * $padding-gor;
    width: 0;
    height:  $height;
    background-color: $background-color;
    border-left: $padding-gor solid $background-color;
    border-radius: $border-radius;

    &:before {
      content: '';
      position: absolute;
      right: -1 * $size / 2;
      top: -1 * ($size / 2 - (2 * $border));
      width: $size;
      height: $size;
      box-sizing: border-box;
      background-color:#1a81f6;
      border: $border solid #1a81f6;
      border-radius: 50%;
    }
  }

  &.mini {
    $size: 13px;
    $height: 4px;

    width: 90px;
    height: $height;

    .slider {
      height: $height;
    }

    .value {
      height:  $height;

      &:before {
        right: -1 * $size / 2;
        top: -1 * (10px / 2 );
        width: $size;
        height: $size;
      }
    }
  }
}