@import "mixin";

.b_player_volume {
  @include for_phone {
    display: none;
  }

  .b_slider
  {
    $size-thumb: 12px;
    $height-slider: $size-thumb / 3;
    width: 94px;

    .slider {
      height: $height-slider;
    }

    .thumb {
      position: absolute;
      right: -1 * $size-thumb / 2;
      top: -1 * ($size-thumb - $height-slider) / 2;
      width: $size-thumb;
      height: $size-thumb;
    }

  }

  .disabled {
    pointer-events: none;
    opacity: 0.5;
  }

  .volume_mute {
    background-image: url("/assets/img/volume.svg");
  }

  &.mute {
    .volume_mute {
      background-image: url("/assets/img/volume_mute.svg");
    }
  }
}